@import "./defined.css";


@media screen and (max-width: 1225px) {

    .top-header {
        display: none;
    }

    .second-header-left-menuBar {
        display: none;
    }

    .second-header {
        padding: 16px 24px;
    }

    /* .second-header-right {
        display: none;
    } */

    .second-header-right {
        display: none;
    }

    .ctn__lfrsr__btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .second-header-right-rss {
        display: flex;
    }

    .top-header-rss {
        display: flex;
        align-items: center;
        padding: 12px 24px;
        border-bottom: 1px solid var(--line-color);
        white-space: nowrap;
        overflow: hidden;
    }

    .top-header-rss div {
        margin-inline-end: 12px;
    }
}


@media only screen and (max-width: 1024px) {
    .ctn__lists__filter {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .ctn__showrows {
        display: none;
    }

    .ctnlfr_show_rows {
        display: none;
    }

    .ctn__lf__left {
        overflow-x: scroll;
    }

    .ctn__lf__left::-webkit-scrollbar {
        display: none;
    }

    .ctn__lfrsr__btn {
        display: flex;
        gap: 4px;
        padding: 8px 0;
        align-items: center;
        border-radius: 6px;
        background-color: var(--line-color);
    }
}


@media only screen and (max-width: 768px) {

    .title_big {
        font-size: var(--fs-14px);
        font-weight: var(--fw-700);
    }

    .ctnhlid__re {
        font-size: var(--fs-12px);
        font-weight: var(--fw-400);
    }

    .ctnhlid__bo {
        font-size: var(--fs-12px);
        font-weight: var(--fw-600);
    }

    .ctn-highlights-switch {
        display: none;
    }

    .ctn-bottom {
        display: none;
    }

    .ctn__top__highlights__slider {
        margin: 24px 0;
    }

    .ctnn__bg {
        width: 200px;
    }

}