/* start footer  */

.footer {
    padding: 48px 24px;
}

.f__linkslogo {
    display: flex;
    justify-content: space-between;
}

.f__logo {
    padding-bottom: 32px;
}

.f__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.f__link {
    padding-right: 8px;
    width: 50%;
}

.f__links__row {
    display: flex;
    width: 50%;
}

.fl__topic {
    padding: 4px 0px 16px 0px;
}

.f__copyright__apps {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.f__mobilev {
    display: flex;
    gap: 8px;
}


/* end footer  */