/* color  */
:root {
    --main-color: #3861FB;
    --down-price-color: #EA3943;
    --up-price-color: #16C784;
    --secondary-color: #616E85;
    --line-color: #EFF2F5;
    --placeholder: #A6B0C3;
    --gray-400: #A6B0C3;
}