@import "./defined.css";


/* color  */

.gray {
    color: var(--gray);
}

.gray-bg {
    background-color: var(--gray);
}

.text-white {
    color: var(--white);
}

.main-color-bg {
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.main-color-bg {
    background-color: var(--main-color);
}

.text-2nd-color {
    color: var(--secondary-color);
}

.up-price {
    color: var(--up-price-color);
}

.down-price {
    color: var(--down-price-color);
}

.gray-2nd-color {
    color: var(--gray-secondary);
}

.newsletterbg {
    background-color: var(--newsletterbg);
}

/* radius  */

.radius-6px {
    border-radius: 6px;
}


/* font size and weight */

.fs-11px-fw-600 {
    font-size: var(--font-size-11px);
    font-weight: var(--fw-600);
}

.fs-12px-fw-400 {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-400);
}

.fs-12px-fw-500 {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-500);
}

.fs-12px-fw-600 {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-600);
}

.fs-12px-fw-700 {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-14px-fw-400 {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-400);
}

.fs-14px-fw-500 {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-500);
}

.fs-14px-fw-600 {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-600);
}

/* ========================== */

.fs-15px-fw-600 {
    font-size: var(--font-size-15px);
    font-weight: var(--fw-600);
}

/* ========================== */

.fs-16px-fw-600 {
    font-size: var(--font-size-16px);
    font-weight: var(--fw-600);
}

.fs-16px-fw-400 {
    font-size: var(--font-size-16px);
    font-weight: var(--fw-400);
}

.fs-16px-fw-700 {
    font-size: var(--font-size-16px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-24px-fw-700 {
    font-size: var(--font-size-24px);
    font-weight: var(--fw-700);
}


/* ========================== */

.fs-32px-fw-300 {
    font-size: var(--font-size-32px);
    font-weight: var(--fw-300);
}

.fs-32px-fw-700 {
    font-size: var(--font-size-32px);
    font-weight: var(--fw-700);
}

/* border  */

.border-bottom {
    border-bottom: 1px solid var(--line-color);
}

/* line height */
.lh-35px {
    line-height: 35px;
}