@import "./defined.css";


/* color  */

.gray {
    color: var(--gray);
}

.gray-bg {
    background-color: var(--gray);
}

.text-white {
    color: var(--white);
}

.main-color-bg {
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.main-color-bg {
    background-color: var(--main-color);
}

.text-2nd-color {
    color: var(--secondary-color);
}

.up-price {
    color: var(--up-price-color);
}

.down-price {
    color: var(--down-price-color);
}

.gray-2nd-color {
    color: var(--gray-secondary);
}

.newsletterbg {
    background-color: var(--newsletterbg);
}

/* radius  */

.radius-6px {
    border-radius: 6px;
}


/* font size and weight */

.fs-11px-fw-600 {
    font-size: var(--fs-11px);
    font-weight: var(--fw-600);
}

.fs-12px-fw-400 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-400);
}

.fs-12px-fw-500 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-500);
}

.fs-12px-fw-600 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-600);
}

.fs-12px-fw-700 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-14px-fw-400 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-400);
}

.fs-14px-fw-500 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-500);
}

.fs-14px-fw-600 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-600);
}

.fs-14px-fw-700 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-15px-fw-600 {
    font-size: var(--fs-15px);
    font-weight: var(--fw-600);
}

/* ========================== */

.fs-16px-fw-600 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-600);
}

.fs-16px-fw-400 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-400);
}

.fs-16px-fw-700 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-24px-fw-700 {
    font-size: var(--fs-24px);
    font-weight: var(--fw-700);
}


/* ========================== */

.fs-32px-fw-300 {
    font-size: var(--fs-32px);
    font-weight: var(--fw-300);
}

.fs-32px-fw-700 {
    font-size: var(--fs-32px);
    font-weight: var(--fw-700);
}

.xx_small {
    font-size: xx-small;
}

.fs_32px {
    font-size: var(--fs-32px);
}

.fs_24px {
    font-size: var(--fs-24px);
}

.fs_20px {
    font-style: var(--fs-20px);
}

/* border  */

.border-bottom {
    border-bottom: 1px solid var(--line-color);
}

/* line height */
.lh-35px {
    line-height: 35px;
}


.d-none {
    display: none;
}


/* width  */

.w_100pc {
    width: 100%;
}

.w_20pc {
    width: 20%;
}

.w_30pc {
    width: 30%;
}

/* padding  */

.p_left_16px {
    padding-left: 16px;
}

.p_right_4px {
    padding-right: 4px;
}

/* margin  */
.m_inline_start_16px {
    margin-inline-start: 16px;
}


/* display  */

.d_none {
    display: none;
}


/* truncate  */

.truncate {
    /* overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; */

    text-overflow: ellipsis;
    overflow: hidden;


}

.pointer {
    cursor: pointer;
}

.scroll_x {
    overflow-x: scroll;
}


.no_wrap {
    white-space: nowrap;
}

/* flex box  */

.flex_wrap {
    flex-wrap: wrap;
}



