

@media screen and (max-width: 1225px) {

    .top-header {
        display: none;
    }

    .second-header-left-menuBar {
        display: none;
    }

    .second-header {
        padding: 16px 24px;
    }

    /* .second-header-right {
        display: none;
    } */

    .second-header-right {
        display: none;
    }
    .ctn__showrows {
        display: none;
    }

    .ctn__lists__filter {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ctn__lfrsr__btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .second-header-right-rss {
        display: flex;
    }
}

@media screen and (max-width: 1005px) {

}

@media screen and (max-width: 765px) {
    .ctn-highlights-switch {
        display: none;
    }

    .ctn-bottom {
        display: none;
    }
}

