@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
@import "./defined.css";

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: var(--primary-color-text);
    text-decoration: none;
}


/* defined  */
/* ._14px_400 {
    
} */



/* start header  */
/* start top header  */

.top-header-left-group {
    font-size: var(--font-size-11px);
    font-weight: var(--fw-600);
}

.sign-left {
    color: var(--secondary-color);
    margin: 4px;
}

.value {
    color: var(--main-color);
}

.top-header-left {
    display: flex;
    gap: 12px;
}

.sign-right {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-600);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
}

.top-header-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.top-header-right-half {
    display: flex;
    gap: 10px;
}

.top-header-right-group {
    display: flex;
    align-items: center;
    gap: 4px;
}

.item-unit {
    display: flex;
    align-items: center;
    gap: 4px;
}

.top-header-right-line-straight {
    width: 0.5px;
    height: 22px;
    border-left: 0.5px solid;
    color: var(--line-color);
}

.line-header {
    border-bottom: 0.5px solid;
    color: var(--line-color);
}

/* end top header  */

/* start second-header */

.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.second-header-left {
    display: flex;
}

.second-header-left-logo {
    display: flex;
    padding-right: 16px;
}

.second-header-left-menuBar {
    display: flex;
    padding-left: 16px;
}

.second-header-left-menuBar div {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-600);
    padding: 24px 16px;
}

.second-header-right-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.second-header-right-item div {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-400);
}

.second-header-right-items {
    display: flex;
    gap: 16px;
}

.second-header-right {
    display: flex;
    gap: 12px;
}

.second-header-right-searchbar {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--line-color);
    border-radius: 8px;
    gap: 4px;
}

.header-right-searchbar {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.header-right-searchbar::placeholder {
    font-size: var(--font-size-12px);
    font-style: normal;
    font-weight: var(--fw-600);
    color: var(--placeholder);
}

.change-color-icon-gg {
    color: var(--placeholder);
}

.header-right-searchbar-prompt {
    background-color: var(--gray);
    color: var(--line-color);
    border-radius: 5px;
    padding: 2px 9px;
}

.search-icon-gg {
    color: var(--placeholder);
}

/* end second-header */
/* end header  */


/* ===================================================================== */


/* start container */

/* start title info highlights  */

.container {
    max-width: 1252px;
    margin: 0 auto;
}

.ctn__top__highlights__slider {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ctn-highlights {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctn-highlights-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ctn-highlights-update-detail {
    display: flex;
    gap: 4px;
    align-items: center;
}

.ctn-highlights-switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn-highlights-title {
    font-size: var(--font-size-24px);
    font-weight: var(--fw-700);
}

.ctn-highlights-global-mc {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-400);
    color: var(--secondary-color);
}

.ctn-highlights-readmore {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-400);
    color: var(--gray);
    text-decoration: underline;
}

.ctn-highlights-global-mc-value {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-600);
    color: var(--secondary-color);
}

.ctn-highlights-global-mc-value-percent {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-600);
    color: var(--down-price-color);
}

.ctn-highlights-switch p {
    font-size: var(--font-size-14px);
    font-weight: var(--fw-400);
    color: var(--secondary-color);
}

/* start box slider highlights  */

.ctn-bottom-box {
    width: 100%;
    height: 165px;
    padding: 16px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

.ctn-bottom-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
}

.ctn-bottom-box-title-trending {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ctn-bottom-box-title-more {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ctn__bbt__trending {
    font-size: var(--font-size-16px);
    font-weight: var(--fw-700);
}

.ctn__bbt__more {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-700);
    color: var(--main-color);
}

.ctn-bottom-box-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    height: 40px;
}

.ctn-bottom-box-detail-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.ctn__bbdi__index__sign {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-400);
    color: var(--gray-secondary);
}

.ctn__bbdi__name {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-600);
}

.ctn__bbdi__avatar__name {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ctn__bbd__realtime-price {
    display: flex;
    gap: 4px;
}

.ctn__bbd__value-percent {
    font-size: var(--font-size-12px);
    font-weight: var(--fw-400);
    color: var(--up-price-color);
}

.ctn-bottom {
    display: flex;
    gap: 20px;
}

.ctn__bbd__follow__btn {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: var(--line-color);
}

.ctn__bb__slider {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding-top: 6px;
}

.ctn-bottom-box-title-fear-greed {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn__bb__fear__greed {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

/* end box slider highlights  */


/* end title info highlights  */


/* start lists currency */

/* start filter  */

.ctn__lists__filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ctn__lf__left {
    display: flex;
}

.ctn__lfl__cur__categ {
    display: flex;
    gap: 4px;
}

.ctn__lflcc__cur {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 14px;
    border-radius: 8px;
    background-color: var(--btn-blue);
}

.ctn__lflcc__categ {
    display: flex;
    padding: 5px 14px;
    align-items: center;
    gap: 4px;
}

.ctn__lfl__lineStraight {
    border-right: 1px solid;
    color: var(--gray);
}

.ctn__lfl__hot {
    display: flex;
    gap: 4px;
}

.ctn__lflh__1 {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
}

.ctn__lf__right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.ctn__lfrsr__btn {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 8px;
    border-radius: 6px;
    background-color: var(--line-color);
}

.ctn__lfr__listorsquare {
    display: flex;
    gap: 4px;
    padding: 4px;
    background-color: var(--line-color);
    border-radius: 6px;
}

.ctn__lfrls__selected {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--white);
}

.ctn__lfrls__square {
    padding-right: 2px;
}

/* end filter  */

/* start table currency  */


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 38px;
}

td {
    height: 80px;
}

tr {
    border-bottom: 1px solid var(--line-color);
}

.ctn__list__th {
    padding: 10px;
}

.ctn__lists__table__td__right {
    text-align: right;
    padding: 10px;
}

.ctn__lists__table__td__left {
    text-align: left;
}

.ctn__list__td__star {
    padding: 10px;
    text-align: center;
}

.ctn__list__td__star img {
    width: 14px;
}

.ctn__list__td {
    padding: 10px;
}

.ctn__list__td__info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn__list__td__info img {
    width: 24px;
    height: 24px;
}

.ctn__list__th__icon {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
}

.ctn__list__td__totalVolume {
    display: flex;
    flex-direction: column;
}

.ctn__list__td__percentIndex {
    display: flex;
    justify-content: right;
    gap: 4px;
}

/* end table currency  */


/* start pages rows  */

.pages__rows {
    width: 100%;
}

.pr__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 40px 0;
}

.pages__count__list {
    display: flex;
    gap: 4px;
    align-items: center
}

.pc__count {
    padding: 7px 12px;
}

.pr {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pr__dprows {
    display: flex;
    gap: 4px;
    padding: 6px 12px;
}

.pr__findout {
    display: flex;
    padding: 16px 0;
}

.pr__fd__rm {
    padding-bottom: 40px;
}

.prfo__rm {
    padding-left: 4px;
}


/* end pages rows  */


/* end lists currency */

/* end container */

/* start footer  */

.footer {
    padding: 48px 24px;
}

.f__linkslogo {
    display: flex;
    justify-content: space-between;
}

.f__logo {
    padding: 10px;
}

.f__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.f__link {
    padding-right: 8px;
}

.fl__topic {
    padding: 4px 0px 16px 0px;
}

.f__copyright__apps {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.f__mobilev {
    display: flex;
    gap: 8px;
}

.ctn__newsletter__bg {
    max-width: 1252px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ctn__newsletter {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.ctnn__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ctnn__title__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ctnnt__top {
    display: flex;
    gap: 12px;
}

.ctnn__btn {
    padding: 12px 32px;
    width: fit-content;
}

.ctnnbtn {
    padding-top: 40px;
}

/* end footer  */

/* ===================================================================== */