@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
@import "./defined.css";

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: var(--primary-color-text);
    text-decoration: none;
    /* box-sizing: inherit; */
}

html,
body {
    box-sizing: border-box;
}

/* ===================================================================== */

/* start container */

/* start title info highlights  */

.container {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 20px;
}

.ctn__top__highlights__slider {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ctn-highlights {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctn-highlights-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ctn-highlights-update-detail {
    display: flex;
    gap: 4px;
    align-items: center;
}

.ctn-highlights-switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn-highlights-readmore {
    text-decoration: underline;
}

/* start box slider highlights  */

.ctn-bottom-box {
    width: 30.25%;
    padding: 16px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    margin: 0 2px;
}

.ctn-bottom-box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
}

.ctn-bottom-box-title-trending {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ctn-bottom-box-title-more {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ctn-bottom-box-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    height: 40px;
}

.ctn-bottom-box-detail-info {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-right: 16px;
}

.ctn__bbdi__avatar__name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn__bbd__realtime-price {
    display: flex;
    gap: 4px;
}

.ctn-bottom {
    display: flex;
    justify-content: space-between;
}

.ctn__bbd__follow {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--line-color);
}

.ctn__bbd__follow__btn {
}

.ctn__bb__slider {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding-top: 6px;
}

.ctn-bottom-box-title-fear-greed {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn__bb__fear__greed {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

/* end box slider highlights  */


/* end title info highlights  */


/* start lists currency */

/* start filter  */

.ctn__lists__filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ctn__lf__left {
    display: flex;
    width: 100%;
}

.ctn__lfl__cur__categ {
    display: flex;
    gap: 4px;
}

.ctn__lflcc__cur {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 14px;
    border-radius: 8px;
    background-color: var(--btn-blue);
}

.ctn__lflcc__categ {
    display: flex;
    padding: 5px 14px;
    align-items: center;
    gap: 4px;
}

.ctn__lfl__lineStraight {
    border-right: 1px solid;
    color: var(--gray);
}

.ctn__lfl__hot {
    display: flex;
    gap: 4px;
}

.ctn__lflh__1 {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
}

.ctn__lf__right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.ctn__showrows {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 8px;
    border-radius: 6px;
    background-color: var(--line-color);
}

.ctn__lfrsr__btn {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 5px 8px;
    border-radius: 6px;
    background-color: var(--line-color);
}

.ctn__lfr__listorsquare {
    display: flex;
    gap: 4px;
    padding: 4px;
    background-color: var(--line-color);
    border-radius: 6px;
}

.ctn__lfrls__selected {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--white);
}

.ctn__lfrls__square {
    padding-right: 2px;
}

/* end filter  */

/* start table currency  */


table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

th {
    height: 38px;
}

td {
    height: 80px;
}

tr {
    border-bottom: 1px solid var(--line-color);
}

.list-coin {
    overflow-x: auto;
}

.ctn__list__th {
    padding: 10px;
}

.ctn__lists__table__td__right {
    text-align: right;
    padding: 10px;
}

.ctn__lists__table__td__left {
    text-align: left;
}

.ctn__list__td__star {
    padding: 10px;
    text-align: center;
}

.ctn__list__td__star img {
    width: 14px;
}

.ctn__list__td {
    padding: 10px;
}

.ctn__list__td__info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ctn__list__td__info img {
    width: 24px;
    height: 24px;
}

.ctn__list__th__icon {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
}

.ctn__list__td__totalVolume {
    display: flex;
    flex-direction: column;
}

.ctn__list__td__percentIndex {
    display: flex;
    justify-content: right;
    gap: 4px;
}

/* end table currency  */


/* start pages rows  */

.pages__rows {
    width: 100%;
}

.pr__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 40px 0;
}

.pages__count__list {
    display: flex;
    gap: 4px;
    align-items: center
}

.pc__count {
    padding: 7px 12px;
}

.pr {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pr__dprows {
    display: flex;
    gap: 4px;
    padding: 6px 12px;
}

.pr__findout {
    display: flex;
    padding: 16px 0;
}

.pr__fd__rm {
    padding-bottom: 40px;
}

.prfo__rm {
    padding-left: 4px;
}

/* end pages rows  */

/* end lists currency */

/* end container */

/* ===================================================================== */