@import "../defined.css";


.ios_android {
    background: url("https://s2.coinmarketcap.com/static/cloud/img/watchlist/landingpage-bg-2.png");
    background-position: center center;
}

.mobile_grid_table .ios_android {
    background-color: var(--color-gray-100);
}