<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/img/avatar/Jupiter.png">
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/my-style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>MPA - Official</title>
</head>

<body>

    <!-- Start header  -->

    <div class="header">
        <div class="top-header">
            <div class="top-header-left">
                <div class="top-header-left-group">
                    <span class="sign-left">24h Vol:</span> <span class="value">1.8M+</span>
                </div>
                <div class="top-header-left-group">
                    <span class="sign-left">24h Vol:</span> <span class="value">1.8M+</span>
                </div>
                <div class="top-header-left-group">
                    <span class="sign-left">24h Vol:</span> <span class="value">1.8M+</span>
                </div>
                <div class="top-header-left-group">
                    <span class="sign-left">24h Vol:</span> <span class="value">1.8M+</span>
                </div>
                <div class="top-header-left-group">
                    <span class="sign-left">24h Vol:</span> <span class="value">1.8M+</span>
                </div>
                <div class="top-header-left-group">
                    <span class="sign-left">24h Vol:</span> <span class="value">1.8M+</span>
                </div>
            </div>
            <div class="top-header-right">
                <div class="top-header-right-half">
                    <div class="top-header-right-group">
                        <span class="sign-right">English</span><span class="material-symbols-outlined">
                            arrow_drop_down
                        </span>
                    </div>
                    <div class="item-unit">
                        <div class="top-header-right-group">
                            <img src="../src/img/icon.svg" alt="">
                        </div>
                        <span class="sign-right">USD</span>
                        <span class="material-symbols-outlined">
                            arrow_drop_down
                        </span>
                    </div>
                </div>
                <div class="top-header-right-line-straight"></div>
                <img src="../src/img/diamond-icon 1.svg" alt="">
                <img src="../src/img/notice.svg" alt="">
                <img src="../src/img/profile.png" alt="" width="28px">
            </div>
        </div>
        <div class="line-header"></div>
        <div class="second-header">
            <div class="second-header-left">
                <div class="second-header-left-logo">
                    <img src="../src/img/logo/MarketPlaceAsset.svg" alt="">
                </div>
                <div class="second-header-left-menuBar">
                    <div>The Walt Disney Company</div>
                    <div>Louis Vuitton</div>
                    <div>MasterCard</div>
                    <div>Sony</div>
                    <div>Louis Vuitton</div>
                </div>
            </div>
            <div class="second-header-right">
                <div class="second-header-right-items">
                    <div class="second-header-right-item">
                        <span class="change-color-icon-gg material-symbols-outlined">
                            star
                        </span>
                        <div>Watchlist</div>
                    </div>
                    <div class="second-header-right-item">
                        <span class="change-color-icon-gg material-symbols-outlined">
                            chart_data
                        </span>
                        <div>Portfolio</div>
                    </div>
                </div>
                <div class="second-header-right-searchbar">
                    <span class="search-icon-gg material-symbols-outlined">
                        search
                    </span>
                    <input class="header-right-searchbar" type="text" placeholder="Search">
                    <span class="header-right-searchbar-prompt">/</span>
                </div>
            </div>
        </div>
        <div class="line-header"></div>
    </div>

    <!-- End header  -->

    <!-- start container  -->
    <div class="container">
        <div class="ctn__top__highlights__slider">
            <div class="ctn-top">
                <div class="ctn-highlights">
                    <div class="ctn-highlights-info">
                        <div class="ctn-highlights-title">
                            <div class="">8502 Preston Rd. Inglewood, Maine 98380</div>
                        </div>
                        <div class="ctn-highlights-update-detail">
                            <div class="ctn-highlights-global-mc">2118 Thornridge Cir. Syracuse, Connecticut 35624</div>
                            <span class="ctn-highlights-global-mc-value">$1.05T</span>
                            <span class="ctn-highlights-global-mc">, a</span>
                            <img src="../src/img/svg/down-price.svg" alt="">
                            <div class="ctn-highlights-global-mc-value-percent">0.37%</div>
                            <div class="ctn-highlights-global-mc">4140 Parker Rd. Allentown, New Mexico 31134</div>
                            <div class="ctn-highlights-readmore">Read More</div>
                        </div>
                    </div>
                    <div class="ctn-highlights-switch">
                        <p>Highlights</p>
                        <img src="../src/img/svg/switch-btn.svg" alt="" width="45px">
                    </div>
                </div>
            </div>
            <div class="ctn-bottom">

                <!-- =========================== -->

                <div class="ctn-bottom-box">

                    <!-- =========================== -->

                    <div class="ctn-bottom-box-title">
                        <div class="ctn-bottom-box-title-trending">
                            <img src="../src/img/svg/fire-trending.svg" alt="">
                            <p class="ctn__bbt__trending">Trending</p>
                        </div>
                        <div class="ctn-bottom-box-title-more">
                            <p class="ctn__bbt__more">More</p>
                            <img src="../src/img/svg/right.svg" alt="">
                        </div>
                    </div>

                    <!-- =========================== -->

                    <div class="ctn-bottom-box-detail">
                        <div class="ctn-bottom-box-detail-info">
                            <p class="ctn__bbdi__index__sign">1</p>
                            <div class="ctn__bbdi__avatar__name">
                                <img class="ctn__bbdi__img" src="../src/img/avatar/img2.png" alt="" width="24px"
                                    height="24px">
                                <p class="ctn__bbdi__name">Kathryn</p>
                            </div>
                            <p class="ctn__bbdi__index__sign">Stage</p>
                        </div>
                        <div class="ctn__bbd__realtime-price">
                            <img class="ctn__bbd__sign" src="../src/img/svg/up-price.svg" alt="">
                            <p class="ctn__bbd__value-percent">2%</p>
                        </div>
                    </div>

                    <!-- =========================== -->

                    <div class="ctn-bottom-box-detail">
                        <div class="ctn-bottom-box-detail-info">
                            <p class="ctn__bbdi__index__sign">2</p>
                            <div class="ctn__bbdi__avatar__name">
                                <img class="ctn__bbdi__img" src="../src/img/avatar/img3.png" alt="" width="24px"
                                    height="24px">
                                <p class="ctn__bbdi__name">Wendy</p>
                            </div>
                            <p class="ctn__bbdi__index__sign">Interaction</p>
                        </div>
                        <div class="ctn__bbd__realtime-price">
                            <img class="ctn__bbd__sign" src="../src/img/svg/up-price.svg" alt="">
                            <p class="ctn__bbd__value-percent">2%</p>
                        </div>
                    </div>

                    <!-- =========================== -->

                    <div class="ctn-bottom-box-detail">
                        <div class="ctn-bottom-box-detail-info">
                            <p class="ctn__bbdi__index__sign">3</p>
                            <div class="ctn__bbdi__avatar__name">
                                <img class="ctn__bbdi__img" src="../src/img/avatar/img.png" alt="" width="24px"
                                    height="24px">
                                <p class="ctn__bbdi__name">Gloria</p>
                            </div>
                            <p class="ctn__bbdi__index__sign">Industrial Product </p>
                        </div>
                        <div class="ctn__bbd__realtime-price">
                            <img class="ctn__bbd__sign" src="../src/img/svg/up-price.svg" alt="">
                            <p class="ctn__bbd__value-percent">2%</p>
                        </div>
                    </div>

                    <!-- =========================== -->

                </div>

                <!-- =========================== -->

                <div class="ctn-bottom-box">

                    <!-- =========================== -->

                    <div class="ctn-bottom-box-title">
                        <div class="ctn-bottom-box-title-trending">
                            <img src="../src/img/svg/star-top.svg" alt="">
                            <p class="ctn__bbt__trending">Top Community Accounts</p>
                        </div>
                        <div class="ctn-bottom-box-title-more">
                            <p class="ctn__bbt__more">More</p>
                            <img src="../src/img/svg/right.svg" alt="">
                        </div>
                    </div>

                    <!-- =========================== -->

                    <div class="ctn__bb__slide">
                        <div class="ctn-bottom-box-detail">
                            <div class="ctn-bottom-box-detail-info">
                                <div class="ctn__bbdi__avatar__name">
                                    <img class="ctn__bbdi__img" src="../src/img/avatar/img.png" alt="" width="24px"
                                        height="24px">
                                    <p class="ctn__bbdi__name">Henry, Arthur</p>
                                </div>
                                <img src="../src/img/svg/check-verified.svg" alt="" width="10px">
                                <p class="ctn__bbdi__index__sign">Stage</p>
                            </div>
                            <div class="ctn__bbd__follow">
                                <div class="ctn__bbd__follow__btn fs-12px-fw-600">+ Follow</div>
                            </div>
                        </div>

                        <!-- =========================== -->

                        <div class="ctn-bottom-box-detail">
                            <div class="ctn-bottom-box-detail-info">
                                <div class="ctn__bbdi__avatar__name">
                                    <img class="ctn__bbdi__img" src="../src/img/avatar/img3.png" alt="" width="24px"
                                        height="24px">
                                    <p class="ctn__bbdi__name">Henry, Arthur</p>
                                </div>
                                <img src="../src/img/svg/check-verified.svg" alt="" width="10px">
                                <p class="ctn__bbdi__index__sign">Stage</p>
                            </div>
                            <div class="ctn__bbd__follow">
                                <div class="ctn__bbd__follow__btn fs-12px-fw-600">+ Follow</div>
                            </div>
                        </div>

                        <!-- =========================== -->

                        <div class="ctn-bottom-box-detail">
                            <div class="ctn-bottom-box-detail-info">
                                <div class="ctn__bbdi__avatar__name">
                                    <img class="ctn__bbdi__img" src="../src/img/avatar/img2.png" alt="" width="24px"
                                        height="24px">
                                    <p class="ctn__bbdi__name">Henry, Arthur</p>
                                </div>
                                <img src="../src/img/svg/check-verified.svg" alt="" width="10px">
                                <p class="ctn__bbdi__index__sign">Stage</p>
                            </div>
                            <div class="ctn__bbd__follow">
                                <div class="ctn__bbd__follow__btn fs-12px-fw-600">+ Follow</div>
                            </div>
                        </div>
                    </div>

                    <!-- =========================== -->

                    <div class="ctn__bb__slider">
                        <img src="../src/img/svg/dot-blue.svg" alt="" class="ctn__bb__dot">
                        <img src="../src/img/svg/dot-white.svg" alt="" class="ctn__bb__dot">
                        <img src="../src/img/svg/dot-white.svg" alt="" class="ctn__bb__dot">
                    </div>

                </div>

                <!-- =========================== -->

                <div class="ctn-bottom-box ">

                    <!-- =========================== -->

                    <div class="ctn-bottom-box-title">
                        <div class="ctn-bottom-box-title-fear-greed">
                            <p class="ctn__bbt__trending">Fear & Greed Index</p>
                            <img src="../src/img/svg/info.svg" alt="" width="14px">
                        </div>
                        <div class="ctn-bottom-box-title-more">
                            <p class="ctn__bbt__more">More</p>
                            <img src="../src/img/svg/right.svg" alt="">
                        </div>
                    </div>

                    <!-- =========================== -->

                    <div class="ctn__bb__fear__greed">
                        <img class="ctn__bb__fear__greed__svg" src="../src/img/svg/fear-greed.svg" alt="">
                    </div>

                    <!-- =========================== -->

                </div>

                <!-- =========================== -->

            </div>
        </div>

        <div class="ctn__lists">
            <div class="ctn__lists__filter">
                <div class="ctn__lf__left">
                    <div class="ctn__lfl__cur__categ">
                        <div class="ctn__lflcc__cur">
                            <img src="../src/img/svg/cryptocurrency.svg" alt="">
                            <span class="fs-12px-fw-600 ctn__lflccc__currency">Leslie Alexander</span>
                        </div>
                        <div class="ctn__lflcc__categ">
                            <img src="../src/img/svg/category.svg" alt="">
                            <span class="fs-12px-fw-600 ctn__lflccc__category">Darrell Steward</span>
                        </div>
                    </div>

                    <div class="ctn__lfl__lineStraight"></div>

                    <div class="ctn__lfl__hot">
                        <div class="ctn__lflh__1">
                            <img src="../src/img/svg/burning-hot.svg" alt="">
                            <span class="fs-12px-fw-600">Savannah Nguyen</span>
                        </div>
                        <div class="ctn__lflh__1">
                            <img src="../src/img/svg/burning-hot.svg" alt="">
                            <span class="fs-12px-fw-600">Guy Hawkins</span>
                        </div>
                        <div class="ctn__lflh__1">
                            <img src="../src/img/svg/burning-hot.svg" alt="">
                            <span class="fs-12px-fw-600">Courtney Henry</span>
                        </div>
                        <div class="ctn__lflh__1">
                            <img src="../src/img/svg/burning-hot.svg" alt="">
                            <span class="fs-12px-fw-600">Cody Fisher</span>
                        </div>
                    </div>
                </div>
                <div class="ctn__lf__right">

                    <p class="fs-12px-fw-400">Show rows</p>

                    <div class="ctn__lfrsr__btn">
                        <span class="fs-12px-fw-600">20</span>
                        <img src="../src/img/svg/dropdown-down.svg" alt="">
                    </div>

                    <div class="ctn__lfrsr__btn">
                        <img src="../src/img/svg/filter.svg" alt="">
                        <span class="fs-12px-fw-600">Filters</span>
                    </div>

                    <div class="ctn__lfrsr__btn">
                        <img src="../src/img/svg/customize.svg" alt="">
                        <span class="fs-12px-fw-600">Customize</span>
                    </div>

                    <div class="ctn__lfr__listorsquare">
                        <img class="ctn__lfrls__selected" src="../src/img/svg/three-line.svg" alt="">
                        <img class="ctn__lfrls__square" src="../src/img/svg/four-squares.svg" alt="">
                    </div>
                </div>
            </div>

            <table>
                <thead>

                    <tr>
                        <th class="ctn__list__th fs-12px-fw-700 fs-12px-fw-700"></th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__left">#</th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__left">Name</th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__right">Price</th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__right">1h %</th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__right">24h %</th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__right">7d %</th>
                        <th class="ctn__lists__table__td__right">
                            <div class="ctn__list__th__icon">
                                <span class="fs-12px-fw-700">Market Cap</span>
                                <img src="../src/img/svg/info-italic.svg" alt="">
                            </div>
                        </th>
                        <th class="ctn__lists__table__td__right">
                            <div class="ctn__list__th__icon">
                                <span class="fs-12px-fw-700">Volume(24h)</span>
                                <img src="../src/img/svg/info-italic.svg" alt="">
                            </div>
                        </th>
                        <th class="ctn__lists__table__td__right">
                            <div class="ctn__list__th__icon">
                                <span class="fs-12px-fw-700">Circulating Supply</span>
                                <img src="../src/img/svg/info-italic.svg" alt="">
                            </div>
                        </th>
                        <th class="ctn__list__th fs-12px-fw-700 ctn__lists__table__td__right">Last 7 Days</th>
                    </tr>

                </thead>

                <tbody>

                    <!-- ======================================== -->

                    <tr>
                        <td class="ctn__list__td__star">
                            <img src="../src/img/svg/star-stroke.svg" alt="">
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 fs-12px-fw-700 text-2nd-color">1</td>
                        <td class="ctn__list__td">
                            <div class="ctn__list__td__info">
                                <img src="../src/img/avatar/img.png" alt="">
                                <span class="fs-14px-fw-600">Meow</span>
                                <span class="fs-14px-fw-500 gray-2nd-color">MW</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">226,20</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">$536,740,291,332</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__totalVolume">
                                <span>$9,996,482,754</span>
                                <span class="text-2nd-color fs-12px-fw-500">360,056 BTC</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <span>19,508,568</span>
                            <span>BTC</span>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">Line chart</td>
                    </tr>

                    <!-- ======================================== -->

                    <tr>
                        <td class="ctn__list__td__star">
                            <img src="../src/img/svg/star-stroke.svg" alt="">
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 fs-12px-fw-700 text-2nd-color">1</td>
                        <td class="ctn__list__td">
                            <div class="ctn__list__td__info">
                                <img src="../src/img/avatar/img.png" alt="">
                                <span class="fs-14px-fw-600">Meow</span>
                                <span class="fs-14px-fw-500 gray-2nd-color">MW</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">226,20</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">$536,740,291,332</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__totalVolume">
                                <span>$9,996,482,754</span>
                                <span class="text-2nd-color fs-12px-fw-500">360,056 BTC</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <span>19,508,568</span>
                            <span>BTC</span>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">Line chart</td>
                    </tr>

                    <!-- ======================================== -->

                    <tr>
                        <td class="ctn__list__td__star">
                            <img src="../src/img/svg/star-stroke.svg" alt="">
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 fs-12px-fw-700 text-2nd-color">1</td>
                        <td class="ctn__list__td">
                            <div class="ctn__list__td__info">
                                <img src="../src/img/avatar/img.png" alt="">
                                <span class="fs-14px-fw-600">Meow</span>
                                <span class="fs-14px-fw-500 gray-2nd-color">MW</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">226,20</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">$536,740,291,332</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__totalVolume">
                                <span>$9,996,482,754</span>
                                <span class="text-2nd-color fs-12px-fw-500">360,056 BTC</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <span>19,508,568</span>
                            <span>BTC</span>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">Line chart</td>
                    </tr>

                    <!-- ======================================== -->

                    <tr>
                        <td class="ctn__list__td__star">
                            <img src="../src/img/svg/star-stroke.svg" alt="">
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 fs-12px-fw-700 text-2nd-color">1</td>
                        <td class="ctn__list__td">
                            <div class="ctn__list__td__info">
                                <img src="../src/img/avatar/img.png" alt="">
                                <span class="fs-14px-fw-600">Meow</span>
                                <span class="fs-14px-fw-500 gray-2nd-color">MW</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">226,20</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">$536,740,291,332</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__totalVolume">
                                <span>$9,996,482,754</span>
                                <span class="text-2nd-color fs-12px-fw-500">360,056 BTC</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <span>19,508,568</span>
                            <span>BTC</span>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">Line chart</td>
                    </tr>

                    <!-- ======================================== -->

                    <tr>
                        <td class="ctn__list__td__star">
                            <img src="../src/img/svg/star-stroke.svg" alt="">
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 fs-12px-fw-700 text-2nd-color">1</td>
                        <td class="ctn__list__td">
                            <div class="ctn__list__td__info">
                                <img src="../src/img/avatar/img.png" alt="">
                                <span class="fs-14px-fw-600">Meow</span>
                                <span class="fs-14px-fw-500 gray-2nd-color">MW</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">226,20</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__percentIndex">
                                <img src="../src/img/svg/up-price.svg" alt="">
                                <span class="up-price">2%</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">$536,740,291,332</td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <div class="ctn__list__td__totalVolume">
                                <span>$9,996,482,754</span>
                                <span class="text-2nd-color fs-12px-fw-500">360,056 BTC</span>
                            </div>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">
                            <span>19,508,568</span>
                            <span>BTC</span>
                        </td>
                        <td class="ctn__list__td fs-14px-fw-500 ctn__lists__table__td__right">Line chart</td>
                    </tr>

                    <!-- ======================================== -->

                </tbody>

            </table>

        </div>

        <div class="pages__rows">
            <div class="pr__pages">
                <p class="pr__pages__p fs-12px-fw-400">Showing 1 - 20 out of 9056</p>
                <div class="pages__count__list">
                    <img class="pc__count fs-15px-fw-600 pc__control" src="../src/img/svg/arrow-left.svg" alt="">
                    <a href="#" class="pc__count fs-15px-fw-600 main-color text-white radius-6px">1</a>
                    <a href="#" class="pc__count fs-15px-fw-600">2</a>
                    <a href="#" class="pc__count fs-15px-fw-600">3</a>
                    <a href="#" class="pc__count fs-15px-fw-600">4</a>
                    <a href="#" class="pc__count fs-15px-fw-600">5</a>
                    <a href="#" class="pc__count fs-15px-fw-600">6</a>
                    <a href="#" class="pc__count fs-15px-fw-600">...</a>
                    <a href="#" class="pc__count fs-15px-fw-600">500</a>
                    <img class="pc__count fs-15px-fw-600 pc__control" src="../src/img/svg/arrow-right.svg" alt="">
                </div>
                <div class="pr">
                    <p class="fs-14px-fw-400">Show rows</p>
                    <div class="pr__dprows">
                        <p class="prdpr__p fs-15px-fw-600">20</p>
                        <img src="../src/img/svg/dropdown-down.svg" class="prdpr__dp"></img>
                    </div>
                </div>
            </div>
            <div class="pr__fd__rm">
                <div class="pr__findout">
                    <p class="text-2nd-color fs-12px-fw-400">Find out how we work by clicking here.</p>
                    <p class="prfo__rm text-2nd-color fs-12px-fw-500">Read More</p>
                </div>
                <div class="border-bottom"></div>
            </div>
        </div>
    </div>

    <div class="newsletterbg ctn__newsletter">
        <div class="ctn__newsletter__bg">
            <div class="ctnn__title__btn">
                <div class="ctnn__title">
                    <div class="ctnnt__top">
                        <div class="fs-32px-fw-300">Be the first to know about</div>
                        <div class="fs-32px-fw-700">Be the first to know about</div>
                    </div>
                    <div class="fs-16px-fw-400">Get all things you need today, don't miss any single newsletter.</div>
                </div>
                <div class="ctnnbtn">
                    <div class="ctnn__btn fs-16px-fw-600 main-color text-white radius-6px">
                        Subscribe now
                    </div>
                </div>
            </div>
            <img src="../src/img/svg/newsletterbg.svg" alt="" class="ctnn__bg">
        </div>
    </div>

    <!-- End container  -->

    <div class="footer">
        <div class="f__linkslogo">
            <div class="f__logo">
                <img src="../src/img/logo/MarketPlaceAsset.svg" alt="">
            </div>
            <div class="f__links">
                <div class="f__link">
                    <div class="fl__topic fs-16px-fw-600">Bessie Cooper</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                </div>
                <div class="f__link">
                    <div class="fl__topic fs-16px-fw-600">Bessie Cooper</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                </div>
                <div class="f__link">
                    <div class="fl__topic fs-16px-fw-600">Bessie Cooper</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                </div>
                <div class="f__link">
                    <div class="fl__topic fs-16px-fw-600">Bessie Cooper</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                    <div class="lh-35px fs-14px-fw-500 gray-2nd-color">Bc Explorer</div>
                </div>
            </div>
        </div>
        <div class="f__copyright__apps">
            <div class="f__copyright fs-14px-fw-500 gray-2nd-color">
                2023 MarketPlaceAsset. All rights reserved
            </div>
            <div class="f__mobilev">
                <div class="fm__googleplay"><img src="../src/img/svg/googleplay.svg" alt=""></div>
                <div class="fm__appstore"><img src="../src/img/svg/appstore.svg" alt=""></div>
            </div>
        </div>
    </div>
</body>

</html>