@import "../css/defined.css";

/* start header  */
.drop_profile {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    box-shadow: var(--box-shadow2);
    padding: 12px;
    list-style: none;
    border-radius: 8px;
}

.drop_profile li {
    padding: 8px 16px;
    border-radius: 6px;
}

.drop_profile li:hover {
    background-color: var(--color-gray-200);
}

.header_profile:hover .drop_profile {
    display: block;
}


/* start top header  */

.sign-left {
    color: var(--secondary-color);
    margin: 4px;
}

.value {
    color: var(--main-color);
}

.top-header-left {
    display: flex;
    gap: 12px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
}

.top-header-rss {
    display: none;
}

.top-header-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.top-header-right-half {
    display: flex;
    gap: 10px;
}

.top-header-right-group {
    display: flex;
    align-items: center;
    gap: 4px;
}

.item-unit {
    display: flex;
    align-items: center;
    gap: 4px;
}

.top-header-right-line-straight {
    width: 0.5px;
    height: 22px;
    border-left: 0.5px solid;
    color: var(--color-gray-200);
}

.line-header {
    border-bottom: 0.5px solid;
    color: var(--color-gray-200);
}

/* end top header  */

/* start second-header */

.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.second-header-left {
    display: flex;
}

.second-header-left-logo {
    display: flex;
    padding-right: 16px;
}

.second-header-left-menuBar {
    display: flex;
    padding-left: 16px;
}

.second-header-left-menuBar .each_menubar {
    font-size: var(--fs-14px);
    font-weight: var(--fw-600);
    padding: 24px 16px;
}

.second-header-right-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 6px;
}

.second-header-right-item:hover {
    cursor: pointer;
    background-color: var(--bg-hover);
}

.second-header-right-items {
    display: flex;
    gap: 4px;
}

.second-header-right {
    display: flex;
    gap: 12px;
}

.second-header-right-searchbar {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--color-gray-200);
    border-radius: 8px;
    gap: 4px;
}

.header-right-searchbar {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.header-right-searchbar::placeholder {
    font-size: var(--fs-12px);
    font-weight: var(--fw-600);
    color: var(--color-gray-400);
}

.change-color-icon-gg {
    color: var(--color-gray-400);
}

.header-right-searchbar-prompt {
    color: var(--color-gray-200);
    border-radius: 5px;
    padding: 2px 9px;
}

.search-icon-gg {
    color: var(--color-gray-400);
}

/* end second-header */

/* start menubar dropdown  */
.each_menubar {
    cursor: pointer;
}

.each_menubar:hover {
    color: var(--main-color);
}

.menubar__dropdown {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 16px;
    box-shadow: var(--box-shadow2);
    position: absolute;
    z-index: 9999;
    background-color: var(--white);
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
}

.menubar__dropdown::before {
    content: "";
    display: block;
    width: 0px;
    z-index: 10;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-image: initial;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--white);
    position: absolute;
    top: -20px;
    left: calc(50% - 10px);
}

.grid_row1 {
    grid-row: 1/3;
}

.emb__atag {
    grid-template-columns: max-content max-content min-content auto;
    align-items: center;
    border-radius: 8px;
}

.emb__atag:hover {
    background-color: var(--color-gray-200);
}

.emb__nameTitle {
    color: var(--color-gray-400);
}

/* end menubar dropdown  */

/* end header  */


/* modal log in and sign up  */
.container_signin {
    background-color: white;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    animation: animeOpenUp .45s;
}

@keyframes animeOpenUp {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

/* .activeCloseModal {
    display: none;
    animation: animeOpenDown .45s;
}


@keyframes animeOpenDown {
    from {
        opacity: 0;
        transform: scaleY(1);
    }

    to {
        opacity: 1;
        transform: scaleY(0);
    }
} */


.container_signin.active {
    top: 15%;
    visibility: visible;
    opacity: 1;
}

.container_signup {
    background-color: white;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    animation: animeOpenUp .45s;
}

.container_signup.active {
    top: 15%;
    visibility: visible;
    opacity: 1;
}

.x-close {
    padding: 8px;
}

.backdrop-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}


/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #3861FB;
}

.toast--success .toast__icon {
    color: #3861FB;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* active form  */
.body-form {
    display: none;
}

.body-form.active-form {
    display: block;
}

.label-bottom.active {
    border-bottom: 3px solid var(--main-color);
}