@import "./allstyle.css";
@import "./defined.css";


/* color  */

.gray {
    color: var(--gray);
}

.gray-bg {
    background-color: var(--gray);
}

.trans_bg {
    background-color: transparent;
}

.second-color-body {
    color: var(--second-color-body);
}

.color_gray_100_bg {
    background-color: var(--color-gray-100);
}

.color_bg_1 {
    background-color: var(--color-bg-1);
}

.color_gray_200_bg {
    background-color: var(--color-gray-200);
}

.color_gray_400 {
    color: var(--color-gray-400);
}

.bg_white {
    background-color: var(--white);
}

.text-white {
    color: var(--white);
}

.second-text-color {
    color: var(--second-text-color);
}

.main-color-bg {
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.text-2nd-color {
    color: var(--secondary-color);
}

.up-price {
    color: var(--up-price-color);
}

.up_priceBg {
    background-color: var(--up-price-color);
}

.down-price {
    color: var(--down-price-color);
}

.down_priceBg {
    background-color: var(--down-price-color);
}

.gray-2nd-color {
    color: var(--gray-secondary);
}

.bg_color_2 {
    background-color: var(--color-gray-100);
}

.star_bg {
    color: var(--color-reminder);
}

/* border  */
.border_none {
    border: none;
}

.border_main {
    border: 1px solid var(--main-color);
}

.border_300 {
    border: 1px solid var(--color-gray-300);
}

.border-top {
    border-top: 1px solid var(--color-gray-200);
}

.border-bottom {
    border-bottom: 1px solid var(--color-gray-200);
}

.border-left {
    border-left: 1px solid var(--color-gray-200);
}

.border-right {
    border-right: 1px solid var(--color-gray-200);
}

.border-left-400 {
    border-left: 1px solid var(--color-gray-400);
}

.border-right-400 {
    border-right: 1px solid var(--color-gray-400);
}

.bb_main_2px {
    border-bottom: 2px solid var(--main-color);
}

.bb_main_4px {
    border-bottom: 4px solid var(--main-color);
}

.outline_none {
    outline: none;
}

.outline_main {
    outline-color: var(--main-color);
}

/* radius  */

.radius-4px {
    border-radius: 4px;
}

.radius-6px {
    border-radius: 6px;
}

.radius-8px {
    border-radius: 8px;
}

.radius-12px {
    border-radius: 12px;
}

.radius-16px {
    border-radius: 16px;
}

.radius-32px {
    border-radius: 32px;
}

.radius_50 {
    border-radius: 50%;
}

/* font size and weight */

.fs-11px-fw-400 {
    font-size: var(--fs-11px);
    font-weight: var(--fw-400);
}

.fs-11px-fw-500 {
    font-size: var(--fs-11px);
    font-weight: var(--fw-500);
}

.fs-11px-fw-600 {
    font-size: var(--fs-11px);
    font-weight: var(--fw-600);
}

.fs-12px-fw-400 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-400);
}

.fs-12px-fw-500 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-500);
}

.fs-12px-fw-600 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-600);
}

.fs-12px-fw-700 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-700);
}

.fs-12px-fw-800 {
    font-size: var(--fs-12px);
    font-weight: var(--fw-800);
}

/* ========================== */

.fs-14px-fw-400 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-400);
}

.fs-14px-fw-500 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-500);
}

.fs-14px-fw-600 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-600);
}

.fs-14px-fw-700 {
    font-size: var(--fs-14px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-15px-fw-400 {
    font-size: var(--fs-15px);
    font-weight: var(--fw-400);
}

.fs-15px-fw-500 {
    font-size: var(--fs-15px);
    font-weight: var(--fw-500);
}

.fs-15px-fw-600 {
    font-size: var(--fs-15px);
    font-weight: var(--fw-600);
}

.fs-15px-fw-700 {
    font-size: var(--fs-15px);
    font-weight: var(--fw-700);
}


/* ========================== */

.fs-16px-fw-600 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-600);
}

.fs-16px-fw-500 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-600);
}

.fs-16px-fw-400 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-400);
}

.fs-16px-fw-700 {
    font-size: var(--fs-16px);
    font-weight: var(--fw-700);
}

/* ========================== */


.fs-18px-fw-600 {
    font-size: var(--fs-18px);
    font-weight: var(--fw-600);
}


.fs-18px-fw-700 {
    font-size: var(--fs-18px);
    font-weight: var(--fw-700);
}


/* ========================== */


.fs-20px-fw-600 {
    font-size: var(--fs-20px);
    font-weight: var(--fw-600);
}

.fs-20px-fw-700 {
    font-size: var(--fs-20px);
    font-weight: var(--fw-700);
}


/* ========================== */

.fs-22px-fw-500 {
    font-size: var(--fs-22px);
    font-weight: var(--fw-500);
}


.fs-22px-fw-700 {
    font-size: var(--fs-22px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-24px-fw-600 {
    font-size: var(--fs-24px);
    font-weight: var(--fw-600);
}

.fs-24px-fw-700 {
    font-size: var(--fs-24px);
    font-weight: var(--fw-700);
}


/* ========================== */


.fs-25px-fs-700 {
    font-style: var(--fs-25px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-32px-fw-300 {
    font-size: var(--fs-32px);
    font-weight: var(--fw-300);
}

.fs-32px-fw-700 {
    font-size: var(--fs-32px);
    font-weight: var(--fw-700);
}

/* ========================== */

.fs-40px-fw-700 {
    font-size: var(--fs-40px);
    font-weight: var(--fw-700);
}

.fs-48px-fw-700 {
    font-size: var(--fs-48px);
    font-weight: var(--fw-700);
}

/* ========================== */

/* only font-size  */
.fs_32px {
    font-size: var(--fs-32px);
}

.fs_26px {
    font-size: var(--fs-26px);
}

.fs_24px {
    font-size: var(--fs-24px);
}

.fs_20px {
    font-size: var(--fs-20px);
}

.fs_16px {
    font-size: var(--fs-16px);
}

.fs_14px {
    font-size: var(--fs-14px);
}

.fs_12px {
    font-size: var(--fs-12px);
}

.xx_small {
    font-size: xx-small;
}

/* line height */
.lh-64px {
    line-height: 64px;
}

.lh-40px {
    line-height: 40px;
}

.lh-35px {
    line-height: 35px;
}

.lh-32px {
    line-height: 32px;
}

.lh-24px {
    line-height: 24px;
}

.lh_150pc {
    line-height: 150%;
}

/* height  */
.h_24px {
    height: 24px;
}

.h_32px {
    height: 32px;
}

.h_84px {
    height: 84px;
}

/* width  */

.w_100pc {
    width: 100%;
}

.w_10pc {
    width: 10%;
}

.w_12pc {
    width: 12%;
}

.w_15pc {
    width: 15%;
}

.w_16pc {
    width: 16%;
}

.w_20pc {
    width: 20%;
}

.w_30pc {
    width: 30%;
}

.w_50pc {
    width: 50%;
}

.w_60pc {
    width: 60%;
}

.w_70pc {
    width: 70%;
}

.w_76pc {
    width: 76%;
}

.w_80pc {
    width: 80%;
}


.w_55px {
    width: 55px;
}

.fit_cont {
    width: fit-content;
}

/* height  */
.height_32px {
    height: 32px;
}

/* padding  */

.p_left_16px {
    padding-left: 16px;
}

.p_left_24px {
    padding-left: 24px;
}

.p_right_4px {
    padding-right: 4px;
}

.pt_100px {
    padding-top: 100px;
}

.pt_8px {
    padding-top: 8px;
}

.pt_12px {
    padding-top: 12px;
}

.pt_16px {
    padding-top: 16px;
}

.pt_24px {
    padding-top: 24px;
}

.pt_32px {
    padding-top: 32px;
}

.pb_6px {
    padding-bottom: 6px;
}

.pb_12px {
    padding-bottom: 12px;
}


.pb_16px {
    padding-bottom: 16px;
}

.pb_32px {
    padding-bottom: 32px;
}


.p_32px_24px {
    padding: 32px 24px;
}

.p_24px_32px {
    padding: 24px 32px;
}

.p_16px_24px {
    padding: 16px 24px;
}

.p_12px_24px {
    padding: 12px 24px;
}

.p_4px_24px {
    padding: 4px 24px;
}

.p_0px_24px {
    padding: 0px 24px;
}

.p_0px_16px {
    padding: 0px 16px;
}

.p_16px_0px {
    padding: 16px 0;
}

.p_8px_16px {
    padding: 8px 16px;
}

.p_4px_8px {
    padding: 4px 8px;
}

.p_2px_8px {
    padding: 2px 8px;
}

.p_5px_8px {
    padding: 5px 8px;
}

.p_2px_6px {
    padding: 2px 6px;
}

.p_0_4px {
    padding: 0 4px;
}

.p_0_8px {
    padding: 0 8px;
}

.p_4px {
    padding: 4px;
}

.p_8px {
    padding: 8px;
}

.p_12px {
    padding: 12px;
}

.p_16px {
    padding: 16px;
}

.p_20px {
    padding: 20px;
}

.p_24px {
    padding: 24px;
}

.p_32px {
    padding: 32px;
}

.paddinglr_5pc {
    padding-left: 5%;
    padding-right: 5%;
}

/* margin  */
.m_inline_start_16px {
    margin-inline-start: 16px;
}

.m_inline_start_8px {
    margin-inline-start: 8px;
}

.m_inline_end_4px {
    margin-inline-end: 4px;
}

.mb_100px {
    margin-bottom: 100px;
}

.mb_4px {
    margin-bottom: 4px;
}

.mb_6px {
    margin-bottom: 6px;
}

.mb_8px {
    margin-bottom: 8px;
}

.mb_12px {
    margin-bottom: 12px;
}

.mb_16px {
    margin-bottom: 16px;
}

.mb_20px {
    margin-bottom: 20px;
}

.mb_24px {
    margin-bottom: 24px;
}

.mb_32px {
    margin-bottom: 32px;
}

.mb_48px {
    margin-bottom: 48px;
}

.m_inline_end_16px {
    margin-inline-end: 16px;
}

.m_inline_end_8px {
    margin-inline-end: 8px;
}

.mr_16px {
    margin-right: 16px;
}

.ml_4px {
    margin-left: 4px;
}

.ml_16px {
    margin-left: 16px;
}

.ml_32px {
    margin-left: 32px;
}

.m_right_8px {
    margin-right: 8px;
}

.m_rl_32px {
    margin: 0 32px;
}

.m_rl_24px {
    margin: 0 24px;
}

.m_rl_12px {
    margin: 0 12px;
}

.m_rl_8px {
    margin: 0 8px;
}

.mt_48px {
    margin-top: 48px;
}

.mt_32px {
    margin-top: 32px;
}

.mt_24px {
    margin-top: 24px;
}

.mt_16px {
    margin-top: 16px;
}

.mt_12px {
    margin-top: 12px;
}

.mt_10px {
    margin-top: 10px;
}

.mt_8px {
    margin-top: 8px;
}

.mt_6px {
    margin-top: 6px;
}

.mr_4px {
    margin-right: 4px;
}

.mr_16px {
    margin-right: 16px;
}

.mr_32px {
    margin-right: 32px;
}


/* display  */

.d_none {
    display: none;
}

.d_block {
    display: block;
}

.d_inline {
    display: inline;
}

/* position */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

/* top, bottom, right, left position */
.t_0 {
    top: 0;
}

/* truncate  */

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
}

.text_trunc {
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer;
}

.scroll_x {
    overflow-x: scroll;
}

.scroll_y {
    overflow-y: scroll;
}

.of_hidden {
    overflow: hidden;
}


.no_wrap {
    white-space: nowrap;
}

/* text  */
.center {
    text-align: center;
}

/* flex box  */
.flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
}

.align_center {
    align-items: center;
}

.align_top {
    align-items: first baseline;
}

.flex_center {
    justify-content: center;
}

.f_column {
    flex-direction: column;
}

.f_column_reverse {
    flex-direction: column-reverse;
}

.flex_sp_bt {
    display: flex;
    justify-content: space-between;
}

.flex_110 {
    flex: 1 1 0;
}

.g_4px {
    gap: 4px;
}

.g_6px {
    gap: 6px;
}

.g_8px {
    gap: 8px;
}

.g_12px {
    gap: 12px;
}

.g_16px {
    gap: 16px;
}

.g_24px {
    gap: 24px;
}

.g_32px {
    gap: 32px;
}

.g_48px {
    gap: 48px;
}

/* grid box  */

.grid {
    display: grid;
}

/* animation  */
.transition {
    transition: all .3s ease-in-out;
}

/* opacity  */

.opacity_1 {
    opacity: 1;
}

.opacity_05 {
    opacity: .5;
}


/* textarea  */ 

.resize_none {
    resize: none;
}