@import "./defined.css";


@media screen and (max-width: 1225px) {

    .top-header {
        display: none;
    }

    .second-header-left-menuBar {
        display: none;
    }

    .second-header {
        padding: 16px 20px;
    }

    .second-header-right {
        display: none;
    }

    .ctn__lfrsr__btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .second-header-right-rss {
        display: flex;
        align-items: center;
    }

    .top-header-wrapper {
        padding: 12px 20px;
        border-bottom: 1px solid var(--color-gray-200);
    }

    .top-header-rss {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow-x: scroll;
    }

    .top-header-rss::-webkit-scrollbar {
        display: none;
    }

    .top-header-rss div {
        margin-inline-end: 12px;
    }

    /* ==================================== */
    /* start footer  */
    .f__linkslogo {
        display: flex;
        flex-direction: column;

    }

    .f__links {
        width: 100%;
        display: flex;

    }
    /* end footer  */
}


@media only screen and (max-width: 1024px) {
    .ctn__lists__filter {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .ctn__showrows {
        display: none;
    }

    .ctnlfr_show_rows {
        display: none;
    }

    .ctn__lf__left {
        overflow-x: scroll;
    }

    .ctn__lf__left::-webkit-scrollbar {
        display: none;
    }

    .ctn__lfrsr__btn {
        display: flex;
        gap: 4px;
        padding: 8px 0;
        align-items: center;
        border-radius: 6px;
        background-color: var(--color-gray-200);
    }

    .pr__pages {
        justify-content: center;
    }
    .pr__pages__p {
        display: none;
    }

    .pr {
        display: none;
    }

    .pr__pages__rss {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ctn__newsletter__bg {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 48px;
    }

    .ctnnt__top__title {
        font-size: var(--fs-25px);
        font-weight: var(--fw-700);
    }
}


@media only screen and (max-width: 768px) {

    .title_big {
        font-size: var(--fs-14px);
        font-weight: var(--fw-700);
    }

    .ctnhlid__re {
        font-size: var(--fs-12px);
        font-weight: var(--fw-400);
    }

    .ctnhlid__bo {
        font-size: var(--fs-12px);
        font-weight: var(--fw-600);
    }

    .ctn-highlights-switch {
        display: none;
    }

    .ctn-bottom {
        display: none;
    }

    .ctn__top__highlights__slider {
        margin: 24px 0;
    }

    /* footer  */
    .f__links {
        flex-direction: column;
    }

    .f__link {
        padding-bottom: 32px;
    }

    .f__links__row {
        width: 100%;
    }

    .f__copyright__apps {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 530px) {
    .second-header-left {
        display: none;
    }

    .second-header {
        justify-content: space-between;
    }

    .top-header-notice {
        display: none;
    }

    .top-header-wrapper {
        display: none;
    }

    .top-header-wrapper-left {
        display: block;
        border: none;
    }

    .pr__pages {
        padding: 16px 0 24px 0;
    }

    .pr__pages__rss  {
        flex-direction: column;
        gap: 16px;
    }

    .pr__pages {
        overflow: hidden;
    }

}